<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="FOG Service" Language="1033" Version="0.7.4" UpgradeCode="1CCFDEAF-53E9-43AC-AE18-F9F86CEFA4EA" Manufacturer="FOG">
		
		<Package Description="FOG Service" Comments= "A client for the FOG project" InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
        
		<!-- Remove old versions -->
		<Upgrade Id="1CCFDEAF-53E9-43AC-AE18-F9F86CEFA4EA">
            <UpgradeVersion OnlyDetect="yes" Minimum="0.0.0" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
            <UpgradeVersion OnlyDetect="no" Minimum="0.0.0" Maximum="0.7.3" Property="OLDERVERSIONBEINGUPGRADED" IncludeMinimum="no" IncludeMaximum="yes" MigrateFeatures="yes" />
        </Upgrade>
        <InstallExecuteSequence>
            <RemoveExistingProducts Before="InstallInitialize" />
        </InstallExecuteSequence>
		
	
		<!-- Setup the UI -->
		<WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
		<Icon Id="icon.ico" SourceFile="icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		<Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
		<Property Id="USETRAY" Value="1"/>
		<Property Id="WEBROOT" Value="/fog"/>
		<Property Id="WEBADDRESS" Value="fog-server"/>
		<Property Id="HTTPS" Value="0"/>
		
		<UIRef Id="DialogStructure"/>
		
		<!-- Configure what to install -->
	    <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high" />		
		<Directory Id="TARGETDIR" Name="SourceDir">
		</Directory>
		
		
		<Feature Id="Complete"
		         Title="FOG Service"
		         Description="A client for the FOG server"
		         Level="1">
		         <ComponentRef Id="StandardComponent"/>
				 <ComponentRef Id="ServerRegistry"/>
				 <ComponentRef Id="TrayRegistry"/>
				 <ComponentRef Id="WebRootRegistry"/>
		 		 <ComponentRef Id="HttpsRegistry"/>
				 <ComponentRef Id="FOGUserServiceShortcutComponenet" />
		</Feature>
	
	</Product>
</Wix>
