/**
 * Fresh FOG CSS
 *
 * Author: Tom Elliott <tommygunsster@gmail.com
 */
html, body {
    min-height: 440px;
    min-width: 320px;
}
body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #555;
}
/**
 * HTML Headings 1-6
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 8px;
}
/**
 * HTML Links
 */
a {
    text-decoration: none;
    color: #00567a;
}
a:hover, a:active, .activelink {
    color: orange;
}
/**
 * HTML Img
 */
img {
    border: none;
}
img.left {
    clear: right;
    float: left;
}
img.right {
    clear: left;
    float: right;
}
/**
 * Custom elements for FOG
 */
/**
 * Logo image
 */
.logoimg {
    display: inline-block;
    width: 50px;
    height: 50px;
}
#logo {
    position: absolute;
    top: -10px;
}
#logo h2 {
    font-size: 12px;
    position: absolute;
    width: 210px;
    top: 60px;
}
/**
 * HTML Header start.
 */
header {
    min-width: 540px;
    width: 100%;
    display: inline-block;
}
/**
 * Under menu
 */
hr {
    border: 1px solid #efefef;
}
/**
 * Main menu
 */
.menu {
    min-width: 540px;
    height: 25px;
    top: 25px;
    text-align: center;
}
.nav-list .nav-item {
    text-align: center;
    display: inline-block;
}
.nav-item .nav-link {
    display: block;
    padding: 2px;
}
/**
 * Version items
 */
#version {
    position: relative;
    top: -67px;
    left: 55px;
    font-size: 10px;
    vertical-align: text-top;
    margin-right: 20px;
}
/**
 * Wrapper contains sidebar, sidenotes and content
 */
#wrapper {
    display: flex;
    justify-content: center;
}
/**
 * Sidebar menu
 */
.sidebar {
    position: absolute;
    display: inline-block;
    -webkit-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    left: 0;
    min-width: 200px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    margin-bottom: 24px;
    line-height: 24px;
    z-index: 1;
}
/**
 * Main content (generalized)
 */
#content {
    margin-right: 25px;
    margin-left: 215px;
    display: inline-block;
    min-width: 440px;
}
#content h1 {
    text-align: center;
}
#content h2 {
    text-align: center;
}
#content-inner {
    display: inline-block;
    padding-bottom: 24px;
}
/**
 * Simple aligns
 */
.v {
    writing-mode: tb-rl;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.c {
    text-align: center;
}
.l {
    text-align: left;
}
.r {
    text-align: right;
}
.j {
    text-align: justify;
}
/**
 * Hide elements
 */
.fog-variable, .fog-message-box {
    display: none;
}
/**
 * Loader information.
 */
#loader-wrapper {
    z-index: 1;
    min-width: 200px;
    max-width: 300px;
    padding: 5px;
    min-height: 50px;
}
#loader-wrapper * {
    cursor: default;
}
#loader {
    display: none;
    border: 1px; solid #bbb;
    background: transparent;
    position: absolute;
    left: 45%;
    font-size: 10px;
    min-height: 28px;
    -webkit-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    text-align: center;
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 3px;
    padding-right: 3px;
}
/**
 * Main content dashboard
 */
#content.dashboard {
    text-align: center;
    margin: 0 auto;
}
#content.dashboard #content-inner {
    display: inline-block;
    min-width: 850px;
}
/**
 * Dashboard specific elements
 */
.dashboard {
    padding: 2px;
    display: inline-block;
}
.dashboard p {
    vertical-align: center;
    text-align: center;
}
.dashboard p.infoTitle {
    background-color: #bcbcbc;
}
/**
 * The three top boxes.
 */
.dashboard-boxes {
    list-style: none;
    height: 180px;
    font-size: 12px;
}
.dashboard-boxes li {
    float: left;
    width: 250px;
    height: 160px;
    margin-left: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
}
.dashboard-boxes li h5 {
    text-align: center;
    background: #c7cede;
    padding: 5px;
    margin: 0;
}
/**
 * The selectors
 */
.graph-selectors {
    position: relative;
    whitespace: no-wrap;
    width: 100px;
    top: -120px;
    left: 140px;
    z-index: 1;
    text-align: right;
    margin-top: 3px;
}
.graph-selectors select {
    font-size: 10px;
    border: 1px solid #666;
    padding: 0;
}
/**
 * Graphs
 */
.graph {
    height: 150px;
}
.graph.pie-graph {
    height: 120px;
    margin-top: 5px;
}
#footer {
    position: fixed;
    width: 100%;
    clear: both;
    height: 24px;
    line-height: 24px;
    font-size: 11px;
    font-weight: bold;
    background: #c7cede;
    clear: both;
    text-align: center;
    bottom: 0;
}
