/**
 * Fresh FOG CSS
 *
 * Author: Tom Elliott <tommygunsster@gmail.com
 */
html, body {
    min-height: 440px;
}
body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #00567a;
}
/**
 * HTML Headings 1-6
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 12px;
}
h6 {
    font-size: 8px;
}
/**
 * HTML Links
 */
a {
    text-decoration: none;
    color: #00567a;
}
a:hover, a:active, .activelink, .active {
    color: #0700de;
}
/**
 * HTML Img
 */
img {
    border: none;
}
img.left {
    clear: right;
    float: left;
}
img.right {
    clear: left;
    float: right;
}
/**
 * HTML Table
 */
table {
    margin-bottom: 24px;
}
table tr td:not(.legendColorBox):not(.legendLabel), 
table tr th:not(.legendColorBox):not(.legendLabel) {
    margin: 10px;
    padding: 5px;
    width: auto;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}
table textarea {
    width: 100%;
}
table p {
    line-height: 15px;
    margin: 2px 0;
}
/**
 * HTML Pre
 */
pre {
    white-space: pre-wrap;
}
/**
 * HTML Form
 */
form {
    margin: 0;
    padding; 0;
}
/**
 * HTML Inputs, textarea, select, fieldset, legends.
 */
input, textarea, select {
    color: #00567a;
    font-size: 12px;
    background-color: transparent;
    vertical-align: top;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    min-width: 16px;
    max-width: 210px;
    min-height: 20px;
}
select[name=ulang], select[name=nodesel], select[name=groupsel] {
    width: 100px;
}
select:not([name=ulang]):not([name=nodesel]):not([name=groupsel]) {
    width: 220px;
}
input[type=text],
input[type=search]:not(.tablesorter-filter),
input[type=password],
input[type=submit],
input[type=button],
button,
select:not([name=groupsel]):not([name=nodesel]),
.select2 {
    background: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    -o-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
}
input[type=text],
input[type=search]:not(.tablesorter-filter),
input[type=password],
input[type=submit],
input[type=button],
button:not(.search-submit),
select:not([name=groupsel]):not([name=nodesel]),
.select2 {
    min-height: 24px;
    min-width: 210px;
}
.select2, select:not([name=groupsel]):not([name=nodesel]) {
    min-width: 216px;
}
textarea {
    width: 40em;
    height: 8em;
}
legend {
    font-weight: bold;
    font-size: 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 2px;
    margin: 5px 0;
    -webkit-text-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    -moz-text-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    -o-text-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    text-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
}
fieldset {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
/**
 * Custom elements for FOG
 */
/**
 * Logo image
 */
.logoimg {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
/**
 * Logo placement
 */
#logo {
    max-height: 75px;
    position: absolute;
    top: -10px;
    left: 0;
}
/**
 * The slogan
 */
#logo h5 {
    position: absolute;
    min-width: 230px;
    top: 60px;
    margin: 10px;
}
/**
 * Version items
 */
#version {
    position: relative;
    top: -67px;
    left: 65px;
    font-size: 10px;
    vertical-align: text-top;
    margin-right: 20px;
}
/**
 * Under menu
 */
hr {
    border: 1px solid #efefef;
}
header {
    display: inline-block;
    width: 100%;
}
/**
 * Main menu
 */
.menu {
    height: 25px;
}
.nav-list {
    list-style: none;
    text-align: center;
}
.nav-item {
    display: inline-block;
}
.nav-item .nav-link {
    display: block;
    padding: 4px;
}
/**
 * Wrapper contains sidebar, sidenotes and content
 */
#wrapper {
    display: flex;
    justify-content: left;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: 320px;
}
/**
 * Sidebar menu
 */
.sidebar {
    display: flext;
    justify-content: left;
    display: inline-block;
    min-width: 150px;
    margin-bottom: 24px;
    padding: 20px;
    z-index: 1;
    margin-left: 10px;
}
.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
}
.sidebar li, .sidenotes {
    font-size: 12px;
    line-height: 24px;
}
.sidebar li li {
    margin: 0;
}
.sidebar h5, .sidenotes h5 {
    clear: both;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #efefef;
}
.sidebar .organic-tabs, .sidenotes {
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    -o-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
}
.sidenotes p {
    max-width: 120px;
}
/**
 * Main content (generalized)
 */
#content {
    display: inline-block;
    min-width: 320px;
    padding-bottom: 24px;
}
#content h1 {
    text-align: center;
}
#content h2 {
    text-align: center;
}
#content-inner {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1080px;
    display: inline-block;
    padding-bottom: 24px;
}
@media all and (max-width: 1366px) {
    #loader-wrapper {
        position: relative;
        left: 100px;
    }
    #content-inner {
        margin-left: 0;
        left: 220px;
    }
    .dashboard #content-inner {
        margin-left: 0;
        left: 0px;
    }
}
/**
 * Simple aligns
 */
.v {
    writing-mode: tb-rl;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.c {
    text-align: center;
}
.l {
    text-align: left;
}
.r {
    text-align: right;
}
.j {
    text-align: justify;
}
.small {
    font-size: 8px;
}
/**
 * Debug stuff
 */
.debug {
    padding: 5px;
    margin: 2px 0;
    background: #fff;
    border-width: 2px;
    border-style: solid;
}
.debug-error {
    border-color: red;
}
.debug-info {
    border-color: blue;
}
.debug-hook {
    border-color: magenta;
}
/**
 * Hide elements
 */
.fog-variable, .fog-message-box {
    display: none;
}
/**
 * Loader information.
 */
#loader-wrapper {
    height: 50px;
    display: table;
    margin: 0 auto;
    cursor: default;
}
#loader {
    display: none;
    min-width: 75px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    font-size: 10px;
    min-height: 28px;
    max-height: 50px;
    -webkit-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    -o-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
}
#loader i:before {
    position: absolute;
    display: table-row;
    vertical-align: middle;
    text-align: left;
}
#loader p {
    float: right;
}
/**
 * Login form
 */
#loginform {
    display: table;
    margin: 0 auto;
}
#login-form {
    text-align: center;
    vertical-align: middle;
}
#login-form .input-field {
    display: table-row;
    vertical-align: middle;
}
#login-form .input-field label {
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
}
#login-form .input {
    display: table-cell;
    vertical-align: middle;
    margin: 10px;
    border: 1px solid #666;
    min-width: 210px;
}
#login-form select {
    min-width: 210px;
    height: 28px;
}
#login-form-submit {
    min-width: 210px;
    height: 28px;
    margin: 10px;
}
#login-form-info {
    min-width: 300px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #bbb
    background: #fff;
    font-size: 12px;
    -webkit-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    -o-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    margin-top: 10px;
}
#login-form-info p {
    margin: 0;
    text-align: left;
}
#login-form-info b {
    float: right;
}
#login-form-info .icon {
    vertical-align: text-bottom;
}
/**
 * Main content dashboard
 */
#content.dashboard {
    text-align: center;
    margin: 0 auto;
}
#content.dashboard #content-inner {
    display: inline-block;
}
/**
 * Dashboard specific elements
 */
.dashboard {
    padding: 2px;
    display: inline-block;
}
.dashboard p {
    vertical-align: center;
    text-align: center;
}
.dashboard p.infoTitle {
    background-color: #bcbcbc;
}
/**
 * The three top boxes.
 */
.dashboard-boxes {
    margin: 0 auto;
    width: 800px;
    list-style: none;
    height: 180px;
    font-size: 12px;
}
.dashboard-boxes li {
    width: 250px;
    float: left;
    height: 160px;
    margin-left: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
    -o-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px 2px rgba(0,0,0,0.2);
}
.dashboard-boxes li h5 {
    text-align: center;
    background: #c7cede;
    padding: 5px;
    margin: 0;
}
/**
 * The selectors
 */
.graph-selectors {
    position: relative;
    whitespace: no-wrap;
    width: 100px;
    top: -120px;
    left: 140px;
    z-index: 1;
    text-align: right;
    margin-top: 3px;
}
.graph-selectors select {
    font-size: 10px;
    border: 1px solid #666;
    padding: 0;
}
/**
 * Graphs
 */
.graph {
    height: 150px;
}
.graph.pie-graph {
    height: 120px;
    margin-top: 5px;
}
/**
 * Graph bandwidth
 */
#graph-bandwidth, #graph-30day, #graph-bandwidth-filters {
    margin: 0 auto;
    width: 800px;
    z-index: 1;
}
#graph-bandwidth-filters a {
    font-size: 10px;
    margin: 0;
    padding: 2px 5px;
    text-decoration: none;
    font-weight: bold;
}
#graph-bandwidth-filters .l {
    position: relative;
    clear: right;
    float: left;
    top: -11px;
    left: 57px;
}
#graph-bandwidth-filters .r {
    position: relative;
    clear: left;
    float: right;
    top: -28px;
    right: 21px;
}
/**
 * Search elements.
 */
#search h2 {
    margin-bottom: 20px;
}
#search-wrapper {
    text-align: center;
}
.search-input {
    text-align: center;
    margin-right: 5px;
}
.search-submit {
    color: #00567a;
    position: relative;
    padding: 0;
    margin: 0;
    width: 29px;
    height: 29px;
    vertical-align: top;
}
/**
 * Fakes
 */
.fakes {
    display: none;
}
/**
 * Pigz information
 */
#pigz {
    width: 200px;
    top: 15px;
}
/**
 * Custom table elements.
 */
table td .icon {
    margin: 0 3px;
}
.header {
    padding: 8px;
    background: #00567a;
    color: #fff;
    font-weight: normal;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
table tr.header {
    color: #ededed;
}
table tr.header th {
    background: #00567a;
}
table tr.header th:first-child {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    -o-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}
table tr.header th:last-child {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    -o-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}
table tr.header th.toggle,
table tr.header th.edit,
table tr.header th.ping {
    width: auto;
}
table tr.header a {
    color: #ededed;
}
.tablesorter .filtered,
input[type=search].disabled {
    display: none;
}
/**
 * Code block
 */
.code {
    font-family: monospace;
    font-size: 12px;
    line-height: 20px;
}
/**
 * Progress
 */
#progress {
    text-align: center;
    margin-bottom: 5px;
}
/**
 * Padding
 */
.padded {
    margin: 4px;
}
/**
 * Bolder
 */
.bolder {
    font-weight: bold;
}
/**
 * Hidden
 */
.hidden {
    display: none;
}
/**
 * Action boxes
 */
#action-box, #action-boxdel {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    -webkit-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    -o-box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
}
#action-box p, #action-boxdel p {
    margin: 5px;
    line-height: 20px;
}
#action-box label, #action-boxdel label {
    float: left;
    clear: right;
    min-width: 300px;
    text-align: right;
}
#action-box input:not([type=submit]),
#action-boxdel input:not([type=submit]),
#action-box select {
    text-align: right;
}
/**
 * Primary/default radio selectors.
 */
.primary,
.default {
    display: none;
}
.default + label:before,
.primary + label:before {
    font-family: FontAwesome;
    display: inline-block;
    font-size: 16px;
    color: #00567a;
    content: "\f096";
}
.default:checked + label:before,
.primary:checked + label:before {
    content: "\f046";
}
/**
 * Hosts addistional macs
 */
#additionalMACsRow {
    display: none;
}
/**
 * Hosts mac rows, mac vendor info
 */
.pending-mac .mac {
    padding-right: 24px;
}
.mac-manufactor {
    padding-left: 5px;
}
/**
 * Icon information.
 */
.icon {
    outline: 0;
    border: 0;
    display: inline-block;
}
.hand {
    cursor: pointer;
}
/**
 * Task progress
 */
.with-progress td {
    border: 0;
}
.task-progress-td {
    color: #fff;
    padding: 0;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    height: 25px;
    background: #6f9dcf;
}
.task-progress-td .min {
    height: 25px;
}
.task-progress-td .no-min {
    height: 25px;
}
.task-progress-fill {
    background: #5cdb65;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 25px;
}
.task-progress-fill.min {
    height: 25px;
}
.task-progress ul {
    margin: 3px;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 17px;
    display: block;
    cursor: default;
}
.task-progress ul:hover {
    display: block;
}
.task-progress ul li {
    float: left;
    width: 33%;
    display: block;
    height: 18px;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}
/**
 * Footer placement
 */
#footer {
    position: fixed;
    width: 100%;
    clear: both;
    height: 24px;
    left: 0;
    line-height: 24px;
    font-size: 11px;
    font-weight: bold;
    background: #c7cede;
    text-align: center;
    bottom: 0;
}
