*
{
	font-family: arial;
	font-size: 10px;
}

body
{
	background-color: #686868;
	text-align: center;
	font-family: arial;
	color: #2c2c2c;
	margin: 0px;
}

div.mainContainer
{
	border-width: 1px 1px 0px 1px;
	border-color: #000000;
	border-style: solid;
	background-color: #f6f6f6;
	width: 750px;
	min-width: 750px;
	max-width: 750px;
	height: 600px;
	min-height: 600px;
	max-height: 600px;
	overflow: hidden;
	margin-left: auto; 			/* Center the div */
	margin-right: auto;			/* Center the div */
}

div.header
{
	width: 750px;
	height: 100px;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	background-image: url( ./images/fogbanner.jpg );
	text-align: right;
	
}

div.login
{
	background-image: url( ./images/fade.jpg );
	background-position: top left;
	background-repeat: no-repeat;
	width: 450px;
	margin: 40px;
	border-width: 1px;
	border-color: #000000;
	border-style: solid;	
	background-color: #ffffff;
	color: #ffffff;
	padding: 0px;
}

.fogInfo
{
	background-image: url( ./images/fade2.jpg );
	background-position: top left;
	background-repeat: no-repeat;
	width: 442px;
	margin: 40px;
	margin-top: 0px;
	border-width: 1px;
	border-color: #000000;
	border-style: solid;	
	background-color: #ffffff;
	color: #ffffff;
	text-align: left;
	padding: 4px;
}

input, textarea, select
{
	font-size: 10px;
	border-width: 1px;
	border-color: #6e6f6a;
	border-style: solid;
}

input:focus, textarea:focus, select:focus
{
	/* border-color: #d4b93a; */
	background-color: #fff5c7;
}

img.link
{
	border-width: 0px;
	padding: 3px 10px 3px 10px;
}

div.menuBar
{
	position: relative;
	text-align: center;
	border-width: 1px 1px 1px 1px;
	border-color: #000000;
	border-style: solid;
	background-color: #ffffff;
	background-image: url(./images/menubg.jpg);
	max-height: 50px;
	height: 38px;
	top: -10px;
	margin: 0px 30px 0px 30px;
}

div.subMenu
{
	font-size: 12px;
	width: 96px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background-color: #E7E7E7;
	margin: 2px 1px 1px 1px;
	padding-left: 4px;
}

div.subMenu:hover
{
	background-color: #81889a;
	border-left-width: 4px;
	padding-left: 1px;
}

div.infoItem
{
	font-size: 9px;
	width: 96px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background-color: #E7E7E7;
	margin: 0px 1px 1px 0px;
	padding-left: 0px;
}

.plainfont
{
	font-style: normal;
	text-decoration: none;
	color: #000000;
}

div.scroll
{
	overflow: scroll;
	height: 420px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background-color: white;	
	margin: 5px;
	text-align: center;
}

p.title
{
	font-size: 14px;
	border-color: black;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	background-color: #BDBDBD;
	margin: 0px 0px 6px 0px;
	padding: 4px;
	text-align: left;
}

p.titleBottom
{
	border-color: black;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	background-color: #BDBDBD;
	margin: 20px 0px 6px 0px;
	padding: 4px;
	text-align: center;
}

p.titleBottomLeft
{
	font-size: 14px;
	border-color: black;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	background-color: #BDBDBD;
	margin: 20px 0px 6px 0px;
	padding: 4px;
	text-align: left;

}

p.loginTitle
{
	border-color: black;
	border-width: 1px 0px 1px 0px;
	border-style: dashed;
	background-color: #808080;
	font-size: small;
	padding:3px;
	margin-top: 15px;
}


p.msgbox
{
	font-size: 12px;
	border-color: black;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	background-color: #BDBDBD;
	margin: 0px 0px 6px 0px;
	padding: 4px;
	font-weight: bold;
}

.loginElement
{
	width: 200px;
	text-align: left;

}

/*  This is for the little version text in the top right of every page */
.version
{
	font-size: 11px;
	color: #eaeaea;
	padding-right: 5px;
	padding-top: 2px;
}

.smaller
{	
	font-size: 10px;
}

.hide
{
	display: none;
}

div.msgbox
{
	position: absolute;
	top: 120px;
	left: 340px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	width: 400px;
	background-color: white;
	filter: alpha(opacity=95);
	padding: 0px;
	text-align: center;
}

div.searchResults
{
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	
}	

div.searchResultsTasks
{
	padding: 0px;
	margin: 0px;
	
}

img.noBorder
{
	border-width: 0px;
}

.plainlink
{
	font-family: arial;
	font-style: normal;
	color: black;
	text-decoration: none;
}

div.dashbaord
{
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background-color: white;
	background-image: url(../../images/statusbg.jpg);	
	margin: 5px 3px 6px 5px;
	width: 238px;
	height: 120px;
	float: left;
	padding: 0px;
	text-align: left;
	overflow: hidden;
}

div.footer
{
	border-width: 1px 1px 1px 1px;
	border-color: #000000;
	border-style: solid;
	background-color: #f6f6f6;
	width: 748px;
	min-width: 748px;
	max-width: 748px;
	overflow: hidden;
	padding: 1px;
	margin-left: auto;
	margin-right: auto;
	color: #eaeaea;
	background-image: url( ./images/be_footer.jpg );
}

/* Footer */
h1
{
	font-size: 9px;
	margin: 0px;
}

div.imgObj
{
	margin: 4px 0px 0px 0px;
	
}

div.hostgroup
{
	margin: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-width: 1px 1px 1px 1px;
	border-color: #000000;
	border-style: solid;	
	background-color: #E7E7E7;
	text-align: center;
}

p.wrap
{
	width: 400px;
}

p.helpItem, ul
{
	text-align: left;
	margin: 5px;
	font-size: 10px;
}

.leadingSpace
{
	padding-left: 4px;
}

.bottomLightBorder
{
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #aeaeae;
	padding-top: 5px;
}

img.advancedIcon
{
	border-width: 0px;
}

p.advancedTitle
{
	color: #8e8e8e;
}

p.confirmMessage
{
	padding-left: 5px;
	margin: 5px 10px 5px 10px;
	border-width: 1px;
	border-style: dotted;
	border-color: #5f0000;
	background-image: url( ../../images/alertbg.gif );
	background-repeat: repeat-x;
}

p.infoMessage
{
	padding-left: 5px;
	margin: 5px 10px 5px 10px;
	border-width: 1px;
	border-style: dotted;
	border-color: #5f0000;
	background-image: url( ../../images/infobg.gif );
	background-repeat: repeat-x;
}


p.noSpace
{
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 2px;

}

p.infoTitle
{
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	text-align: center;
	font-weight: bold;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #000000;
	background-color: #bcbcbc;
}

div.pb
{
	background-color: #dedede;
	width: 200px;
	height:25px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #bcbcbc;
}

p.taskPCT
{	
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	text-align: center;	
	padding: 0px;
	color: #797979;
}

.shellcommand 
{
	padding: 1em;
	border: 1px dashed #2f6fab;
	background-color: #f9f9f9;
	line-height: 1.1em;
	font-family: mono, Courier New, Courier;
	font-size: 12px;
        font-style: italic;
        margin: 15px;
        padding: 5px;
        text-align: left;
}

p.installConfirm
{
	font-weight: bold;
}

.lightColor
{
	margin: 0px;
	color: #949494;
}

/* Table Stuff */

td
{
	text-align: left;
}

td.centeredCell
{
	text-align: center;
}

table
{ 
	margin-left: auto;
	margin-right: auto;
}

div.errorBox
{
	position: absolute;
	top: 3px;
	left: 0px;
	height: 86px;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	border-color: #642828;
	border-width: 1px;
	border-style: solid;
	background-color: #f39a9a;
	background-image: url(../../images/error.png);
	background-repeat: no-repeat;
	background-position: 5px 5px;
	filter: alpha(opacity=95);
	padding-left: 4px;
	text-align: left;
	z-index: 10; 
}

h2
{
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	padding-left: 35px;
}

div.kernel
{
	padding-left: 45px;
	text-align: left;
	background-repeat: no-repeat;
	background-position: 5px 5px;	
	background-image: url( ./images/kernel.png );	
	min-height: 50px;
	border-top-width: 1px;	
	border-bottom-width: 1px;
	border-top-color: #ffffff;		
	border-bottom-color: #ffffff;	
	border-top-style: solid;
	border-bottom-style: solid;	
	margin-bottom: 5px;	
}

div.kernel:hover
{
	border-top-color: #494949;
	border-top-width: 1px;
	border-top-style: dotted;
	border-bottom-color: #494949;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	background: #e2f4f8 url( ./images/kernelbg.jpg ) repeat-x;	
}

p.kernelTitle
{
	font-size: 12px;
	font-weight: bold;
	color: #646464;
	margin-top: 2px;
	margin-bottom: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #646464;
	border-bottom-style: solid;
}

p.kernelDetail
{
	font-size: 10px;
	padding-left: 50px;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #838383;
}

p.downloadKContainer
{
	text-align: right;
	padding-right: 10px;
}

.hostTitle
{
	margin-top: 7px;
	margin-bottom: 5px;
	padding: 2px;
	border-color: #000000;	
	border-style: solid;	
	border-width: 1px;
	background-image: url( ./images/titlebg1.jpg );
	background-color: #ffffff;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

.mainTitle
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 2px;
	border-color: #000000;	
	border-style: solid;	
	border-width: 1px;
	background-image: url( ./images/titlebg2.jpg );
	background-color: #ffffff;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

.miscTitle
{
	margin-top: 7px;
	margin-bottom: 5px;
	padding: 2px;
	border-color: #000000;	
	border-style: solid;	
	border-width: 1px;
	background-image: url( ./images/titlebg3.jpg );
	background-color: #ffffff;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}

form.noMargin
{
	margin-top: 0px;
	margin-bottom: 5px;
}

p.hostInfoTitleFirst
{
	margin: 0px;
	font-weight: bold;
	border-color: #d0d0d0;	
	border-style: solid;	
	border-width: 0px 0px 1px 0px;	
	padding-left: 3px;	
}

p.hostInfoTitle
{
	margin: 0px;
	font-weight: bold;
	border-color: #d0d0d0;	
	border-style: solid;	
	border-width: 1px 0px 1px 0px;	
	padding-left: 3px;	
}

p.hostInfoItem
{
	margin: 0px;
	padding-left: 6px;
}

.alignLeft
{
	text-align: left;
}

.bolder
{
	font-weight: bold;
}
