.logoimg {
    position: relative;
    top: -10px;
    height: 40px;
    width: 40px;
}
#login-history,
.fogdashbox {
    min-width: 200px;
    max-width: 90%;
    height: 125px;
    margin: auto;
    margin-bottom: 10px;
}
.signin {
    padding-top: 80px;
}
.form-signin {
    margin: auto;
    max-width: 500px;
    padding: 15px 35px 45px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        @include box-sizing(border-box);
        &:focus {
            z-index: 2;
        }
    }
    input[type="text"] {
        margin-bottom: 1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
#login-form-info b
{
    float: right;
    color: #00567A;
}
.graph-filters {
    margin-left: 10px;
    color: #00567a;
    font-weight: bold;
}
.graph-filters.active,
.graph-filters:hover {
    color: #0799ce;
}
table td {
    padding-right: 10px;
    padding-bottom: 5px;
}
.fakes {
    display: none;
}
.sidenotes {
    padding: 10px;
    margin: 10px;
}
#login-history {
    width: 600px;
}
.select2-container {
    min-width: 220px !important;
}
.form-signin .select2-container {
    max-width: 100% !important;
}
.input-group {
    min-width: 220px !important;
}
.card {
    padding: 10px;
}
.action-boxes {
    display: none;
}
a {
    text-decoration: none;
    font-weight: bold;
}
a:hover, a:focus, a:active {
    text-decoration: none;
    color: #00567a;
}
.footer {
    background-color: #fff;
    line-height: 50px;
}
.additionalMACsRow {
    display: none;
}
#tab-container > div:not(.additionalMACsRow) {
    display: none;
}
#tab-container > div:first,
#tab-container > div:target {
    display: inline-block;
}
.hiddeninitially {
    display: none;
}
.advanced-tasks {
    display: none;
}
.red {
    color: #ce0f0f;
}
.green {
    color: #18f008;
}
