body {
    padding-top: 70px;
    padding-bottom: 130px;
}
.logoimg {
    position: relative;
    top: -7px;
    height: 35px;
    width: 35px;
}
#login-history,
.fogdashbox {
    min-width: 200px;
    max-width: 90%;
    height: 125px;
    margin: auto;
    margin-bottom: 10px;
}
.form-signin {
    margin: auto;
    max-width: 500px;
    padding: 15px 35px 0 35px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        @include box-sizing(border-box);
        &:focus {
            z-index: 2;
        }
    }
    input[type="text"] {
        margin-bottom: 1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
#login-form-info b
{
    float: right;
    color: #00567A;
}
.graph-filters {
    margin-left: 10px;
    color: #00567a;
    font-weight: bold;
}
.graph-filters.active,
.graph-filters:hover {
    color: #0799ce;
}
table td {
    padding-right: 10px;
    padding-bottom: 5px;
}
.fakes {
    display: none;
}
.sidenotes {
    padding: 10px;
    margin: 10px;
}
#login-history {
    width: 600px;
}
.form-signin .select2-container {
    max-width: 100% !important;
}
.action-boxes {
    display: none;
}
.additionalMACsRow,
.pendingMACsRow {
    display: none;
}
.hidefirst,
.hiddeninitially {
    display: none;
}
.advanced-tasks {
    display: none;
}
.red {
    color: #ce0f0f;
}
.green {
    color: #18f008;
}
.cronInputs input {
    min-width: 0;
    width: 50px;
    margin: 10px;
}
.cronInputs input:first-child {
    margin-left: 0;
}
.cronInputs input:last-child {
    margin-right: 0;
}
.fogcard {
    border: 2px #00567a solid;
    background-color: #e0e0e0;
}
.fogcard .category, .fogcard label {
    color: #000;
    padding-left: 10px;
}
.tablesorter-filter.disabled {
    display: none;
}
.showVal {
    position: relative;
    top: 0;
    right: 0;
    min-width: 0;
    width: 40px;
}
.navbar {
    min-height: 60px;
}
.navbar-nav > li > a {
    padding-bottom: 11px;
}
.version-info {
    color: white;
    font-size: 9px;
    padding-top: 10px;
}
footer {
    position: fixed;
    width: 100%;
    height: 70px;
    line-height: 50px;
    bottom: 0;
}
@media (min-width: 768px) {
    .navbar .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    .collapsedmenu-text {
        display: none;
    }
}
@media (min-width: 850px) and (max-width: 1147px) {
    body {
        padding-top: 120px;
        padding-bottom: 70px;
    }
}
@media (min-width: 768px) and (max-width: 849px) {
    body {
        padding-top: 180px;
        padding-bottom: 70px;
    }
}
@media (min-width: 1147px) {
    body {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
