*
{
	font-family: arial;
	font-size: 11px;
}

html,body
{
	height: 100%;
}

div#mainContainer
{
	width: 100%;
	height: 100%;
}

div#header
{
	background-image: url( ../images/mobile.png );
	background-repeat: no-repeat;
	height: 28px;
	width: 100%;
}

div#menuBar
{
	width: 100%;
	text-align: center;
	margin-top: 5px;
	border-width: 0px 0px 0px 0px;
	border-color: black;
	border-style: dashed;
}
h1, h2
{
	text-align: center;
}
div#mobile_content
{
	text-align: center;
}
div#mainContent
{
	height: 100%;
	background-color: #e8e8e8;
	border-width: 1px;
	border-color: #828282;
	border-style: solid;	
	margin-top: 4px;
	text-align: center;
}

p#contentTitle
{
	margin-top: 0px;
	margin-bottom: 0px;
	border-width: 0px 0px 1px 0px;
	border-color: #828282;
	border-style: solid;
	background-color: #c3c3c3;	
	padding-left: 3px;
}

img.task
{
	margin-top: 7px;
	margin-bottom: 7px;
	border-width: 0px;
}

img.link
{
	margin-right: 10px;
	margin-left: 10px;
	border-width: 0px;
}

p.padded
{
	padding: 3px;
}

.center
{
	text-align: center;
}
