.btn-actionbox {
  margin: 10px 0;
  overflow: visible;
}

.box-footer {
  overflow: visible;
}

.fog-user {
  display: block;
  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
}

.pull-right-container {
  float: right;
}

/* Sticky navbar */
header.main-header .mobile-logo {
  display: none;
}

@media(max-width: 767px){
  body > .wrapper {
    height: auto;
    min-height: 100%;
    overflow: initial;
  }

  body > .wrapper > .content-wrapper {
    overflow-x: hidden;
  }

  body:not(.login-page) header.main-header {
    position: sticky;
    top: 0;
    background-color: #222d32;
  }

  header.main-header .logo {
    display: none;
  }

  aside.main-sidebar {
    padding-top: 50px;
  }

  header.main-header .mobile-logo {
    display: inline-block;
    margin: 0;
    height: 50px;
    padding: 0 20px;
  }

  header.main-header .mobile-logo a {
    color: white;
    line-height: 50px;
    font-size: 20pt;
  }

  .skin-blue .main-header .navbar .sidebar-toggle {
    background-color: #367fa9;
  }
}

// FIX: iradio buttons shifted up for some reason
.form-group .iradio_square-blue,
.form-group .icheckbox_square-blue {
  margin-top: 7px;
}

.modal .modal-dialog .modal-body {
  background-color: #FFFFFF !important;
  color: #646464 !important;
}

.modal .modal-dialog .modal-footer {
  background-color: #dfdfdf !important;
  border-top-color: #bfbfbf;
}

.modal .modal-dialog .modal-footer .btn {
  border-color: #428bca !important;
  background-color: #428bca !important;
}

.modal-success .modal-dialog .modal-footer .btn {
  border-color: #008d4c !important;
  background-color: #008d4c !important;
}

.modal-warning .modal-dialog .modal-footer .btn {
  border-color: #db8b0b !important;
  background-color: #db8b0b !important;
}

.modal-danger .modal-dialog .modal-footer .btn {
  border-color: #d33724 !important;
  background-color: #d33724 !important;
}

.modal .modal-dialog .modal-footer .btn.pull-left {
  border: none;
  background-color: #FFF !important;
  color: #646464 !important;
}

.overlay, #loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,0.3) !important;
}

.box .overlay>.fa, .overlay-wrapper .overlay>.fa {
  margin-left: -20px;
  margin-top: -20px;
  color: #646464;
  font-size: 40px;

  &.fa-spin {
    -webkit-animation: fa-spin 1.5s infinite linear;
    animation: fa-spin 1.5s infinite linear;
  }
}

.task-name:not(:empty)::before {
  content: ": ";
}
