policy_module(fog, 0.1)

require {
        type ftpd_t;
	type home_root_t;
	type httpd_log_t;
	type httpd_sys_content_t;
	type usr_t;
	type var_log_t;
	type httpd_t;
	type default_t;
	type ephemeral_port_t;
	type ftp_port_t;
	type ricci_modcluster_port_t;
	type unreserved_port_t;
	type unconfined_t;
	type init_t;
	type mysqld_port_t;
	type tftpd_t;
}

#============= ftpd_t ==============

allow ftpd_t default_t:dir { rename write read remove_name reparent add_name };
allow ftpd_t home_root_t:dir read;
allow ftpd_t httpd_log_t:file { read open };
allow ftpd_t httpd_sys_content_t:dir create;
allow ftpd_t httpd_sys_content_t:dir { write read add_name remove_name };
allow ftpd_t httpd_sys_content_t:file { rename write getattr lock create open };
allow ftpd_t usr_t:dir { write add_name };
allow ftpd_t usr_t:file { write create };
allow ftpd_t var_log_t:lnk_file read;

#============= httpd_t ==============

allow httpd_t default_t:dir read;
allow httpd_t ephemeral_port_t:tcp_socket name_connect;
allow httpd_t ftp_port_t:tcp_socket name_connect;
allow httpd_t httpd_sys_content_t:dir { write remove_name add_name };
allow httpd_t httpd_sys_content_t:file { write create unlink };
allow httpd_t mysqld_port_t:tcp_socket name_connect;
allow httpd_t ricci_modcluster_port_t:tcp_socket name_connect;
allow httpd_t unreserved_port_t:tcp_socket name_connect;

#============= tftpd_t ==============

allow tftpd_t default_t:file { read lock getattr open };

#============= unconfined_t ==============
allow unconfined_t init_t:service enable;
